/* ========================================
  General styles
======================================== */

:root {
  --bg-color: white;
  --text-color: black;
  --font-stack: "Calibri", Arial, sans-serif;
}

body {
  background: var(--bg-color);
  color: var(--text-color);
  font: 300 16px/22px var(--font-stack);
  margin: 30px;
}

*, *::before, *::after {
  box-sizing: border-box;
}

.home-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}